body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url("MOSHED-2024-5-15-21-56-21.gif");
    min-height: 100%;
}

.headshot {
    filter: grayscale(33.3%);
    height: 33.3%;
    width: 33.3%;
    box-shadow: 10px 10px;
}

.clb {
    font-size: 60px;
}

/* Second image (Portfolio) */
.bgimg-2 {
    background-image: url("sf.jpeg");
    min-height: 400px;
  }